<h1>BIENVENIDO 
 <br><br>    <hr>

{{title}}</h1>

<p>Selecciona una opción</p>

<img src="images/pacientes.jpg"><br><a href="/personas">Listar personas</a><br><br><br>

<img src="images/doct.png"><br><a href="/medicos">Listar medicos</a><br>


<img src="images/nota.jpg"><br><a href="/citas">Solicitar cita</a> <br><br> 
<hr>
<br><br><br><br><br>
  

 <article id="contacto">
            <h2>Contactanos</h2>
            <form>
                <label>Nombre</label>
                <input type="text" placeholder="Ingresa tu nombre">
                <br>
                <textarea placeholder="Dejanos tus comentarios" cols="30" rows="10"></textarea>
            </form>
       <br><br><br><br><br><br>
    </main>
    <footer>
        <nav>
            <ul>
                <li>
                  <hr>
                    <a href="facebook.com">Facebook</a><br><br>
                </li>
                <li><a href="twitter.com">twitter</a></li>
            </ul>
        </nav>
        <p>Direccion: Calle 102 # 22-25</p>
        <p>
         Telefono: 3002345678 7/24
        </p>
    </footer>
   
</body>
</html>

